/*
reset
GENERAL
HEADER
    * NAV
    * NAV BOOK CATEGORIES
FOOTER
HOME
    * CAROUSEL
ALL BOOKS
    * PAGINATION
ONE BOOK
COMMENTS
    * COMMENTS FORM
    * COMMENTS BOOK
CONTACT
PAGE 404
USER CONNEXION
MEDIA QUERIES
- min-width: 993px
- min-width: 1201px




*/
/* TODO */
/************** VARIABLES TEMPORAIRES ************/


.bg-all {
    /* background-color: rgba(230, 230, 230); */
    padding: 20px;
}

/* utilisé sur les book cards + se connecter */
button,
#all-books a.btn-book {
    background-color: rgb(12, 117, 238);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 2rem;
    padding: 8px 10px;
}

button:hover,
#all-books a.btn-book:hover {
    cursor: pointer;
    box-shadow: 0 0 9px rgb(184, 184, 184);
}

button:active,
#all-books a.btn-book:active {
    box-shadow: inset 3px 3px 3px #0041c2,
        inset -3px -3px 3px rgb(88, 155, 231);
}

/* *******************/
/* ----- RESET ----- */
/* *******************/
:root {
    /* --main: #ec4e3d; */
    --jaune: #eed64f;
    --main: #ee5f4f;
    --background: #dde1e7;
}

/* default font-size reduced to 10px to make rem calculs easier*/
html,
body {
    font-size: 62.5%;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--main);
}

h2 {
    font-size: 3.3rem;
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--main);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--main);
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: 'uppereastsideregular';
    src: url('../fonts/UpperEastSide-webfont.woff') format('woff'),
    url('../fonts/UpperEastSide-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
    url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    color: rgb(44, 41, 41);
    font-size: 2.5rem;
    font-family: 'quicksand', 'Times New Roman', Times, serif;
}

/* **************************************** */
/* ---------------- GENERAL --------------- */
/* **************************************** */
.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.required {
    color: var(--main);
    padding-left: 10px;
}

.btn {
    background-color: var(--main);
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2rem;
    cursor: pointer;
}

.btn-small {
    background-color: var(--main);
    border: none;
    color: white;
    padding: 8px 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover,
.btn-small:hover {
    box-shadow: inset 0 0 8px rgb(92, 91, 91);
    color: white !important;
}

.lg {
    display: none;
}

.success {
    background-color: rgb(9, 184, 85);
}

.error {
    background-color: var(--main);
}

.success,
.error {
    border-radius: 10px;
}

.success p,
.error p {
    color: white;
    padding: 15px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.success i,
.error i {
    color: white;
    margin-right: 15px;
}

main{
    /* header = 210px
    footer =  150px */
    min-height: -webkit-calc(100vh - 360px);
    min-height: -moz-calc(100vh - 360px);
    min-height: calc(100vh - 360px);
}

/* *************************************** */
/* ---------------- HEADER --------------- */
/* *************************************** */
#bandeau {
    background-color: var(--main);
    padding: 10px 0;
    margin-bottom: 50px;
    z-index: 99999999;
}

#bandeau .logo {
    width: 70px;
    height: 70px;
    padding: 7px;
    object-fit: cover;
    background-color: white;
    border-radius: 100%;
}

#bandeau h2 {
    color: white;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: .1rem;
    font-family: 'uppereastsideregular', 'Times New Roman', Times, serif;
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

#back-to-top i {
    border: 1px solid white;
    border-radius: 50px;
    color: var(--main);
    background-color: white;
    font-size: 3rem;
}

/* *****************/
/* ----- NAV ----- */
/* *****************/
#open-menu,
#close-menu {
    cursor: pointer;
    position: relative;
    width: 75px;
    height: 75px;
}

#open-menu,
#close-menu {
    position: absolute;
    top: 15px;
    right: 25px;
}

#open-menu:hover,
#close-menu:hover {
    cursor: pointer;
}

.title {
    margin-right: 25%;
}

#nav-xs {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#nav-xs ul {
    justify-content: space-around;
    height: 100%;
}

#nav-xs li,
#nav-xs li a,
#nav-lg li,
#nav-lg li a {
    color: white;
}

/* menu mobile qui s'affiche par-dessus l'écran */
#nav-xs.overlay {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    z-index: 99999999;
}

/* *********************************/
/* ----- NAV BOOK CATEGORIES ----- */
/* *********************************/



/* *************************************** */
/* ---------------- FOOTER --------------- */
/* *************************************** */
#foot {
    background-color: var(--main);
    min-height: 150px;
    margin-top: 50px;
}

/* ****************************************** */
/* ------------------- HOME ----------------- */
/* ****************************************** */


/* ***************************** */
/* ---------- CAROUSEL --------- */
/* ***************************** */

#carousel {
    width: 90%;
    height: 350px;
    overflow: hidden;
}

#carousel img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

/* The selected image, at the center of the carousel */
#carousel :nth-child(3) {
    width: 240px;
    height: 360px;
}

/* First & last img of the carousel */
#carousel :nth-child(1),
#carousel :nth-child(5) {
    width: 150px;
    height: 220px;
}

/* if there are other images, there are hidden  */
#carousel :nth-child(n+6) {
    display: none;
}

#myCarousel a {
    margin: auto;
}

#myCarousel i {
    color: var(--main);
    font-size: 6rem;
}

/* ****************************************** */
/* ---------------- ALL BOOKS --------------- */
/* ****************************************** */
#all-books #book-card {
    border-radius: 10px;
    height: 475px;
    margin-top: 30px;
    padding: 20px 10px;
    background: #ffffff;
    box-shadow: 0 0 9px #cac9c9;
}

#all-books h3 {
    margin-top: auto;
    margin-bottom: auto;
}

#all-books #book-card:hover {
    box-shadow: 0 0 9px #989898;
}

#all-books #book-card p {
    margin-top: auto;
    margin-bottom: auto;
}

#all-books #book-card p.date{
    font-size: 1.8rem;
}

#all-books #book-card img {
    width: 80%;
    height: 300px;
    object-fit: cover;
}

#all-books #book-card button {
    width: fit-content;
}

#all-books #cat h1{
    margin-bottom: 0;
    margin-left: 10px;
}

#all-books #cat h1 span{
    font-size: inherit;
    color: inherit;
}

#all-books #cat img{
    width: 125px;
    height: 125px;
    object-fit: cover;
}

/* ********************************************* */
/* ----------------- PAGINATION ---------------- */
/* ********************************************* */
#pagination{
    width: fit-content;
    min-width: 25%;
    background: var(--main);
    padding: 8px 20px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    position: relative;
}

#pagination .previous{
    position: absolute;
    left: 20px;
}

#pagination .next{
    position: absolute;
    right: 20px;
}

#pagination li{
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center;
}

#pagination a,
#pagination i{
    color: white;
}

#pagination li.active{
    background-color: white;
    border-radius: 100%;
}

#pagination li.active a{
    color: var(--main);
}

/* ****************************************** */
/* ---------------- ONE BOOK --------------- */
/* ****************************************** */
.content,
.catchphrase {
    white-space: pre-line;
}

#one-book .date{
    text-align: left;
}

#one-book #info-book{
    margin-top: 20px;
}

#one-book #info-book .cover {
    width: 100%;
}

#one-book #info-book .cover img {
    width: 100%;
    height: auto;
}

#one-book #info-book .book-identity{
    background-color: var(--main);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#one-book #info-book .book-identity li{
    font-size: 2rem;
}

#one-book #info-book .book-identity li svg{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
 svg g path{
    width: 300px;
 }
#one-book #article-book .catchphrase {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

#one-book #article-book .content {
    white-space: pre-line;
}

/* ************************************* */
/* ---------------- FORM --------------- */
/* ************************************* */
input,
textarea {
    padding: 8px 8px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 22px;
    border: 1px solid var(--main);
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0.25rem var(--main);
}


/* ***************************************** */
/* ---------------- COMMENTS --------------- */
/* ***************************************** */

/* ************************** */
/* ------ COMMENTS FORM ----- */
/* ************************** */
#comments h2 {
    margin-top: 30px;
}

#comments p {
    width: 100%;
}

#comments input,
#comments textarea {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#comments textarea {
    min-height: 150px;
}

#comments label {
    display: block;
}

#comments button {
    display: block;
    margin-top: 20px;
}

/* ************************** */
/* ------ COMMENTS BOOK ----- */
/* ************************** */
#all-comments article {
    width: 100%;
    margin-bottom: 30px;
}

#all-comments .user-info,
#all-comments .comment {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#all-comments .user-info {
    background-color: #c6c6c6;
    height: 100px;
}

#all-comments .user-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    float: left;
    padding-right: 10px;
}

#all-comments .user-info .date {
    font-size: 1.6rem;
}

#all-comments .comment {
    background-color: #e4e4e4;
}

#all-comments .user-info .pseudo,
#all-comments .comment .title {
    color: var(--main);
    padding-bottom: 10px;
}


/* **************************************** */
/* ---------------- CONTACT --------------- */
/* **************************************** */
#contact-left,
#contact-right {
    width: 100%;
}

#contact-form select,
#contact-form textarea,
#contact-form input[type='text'],
#contact-form input[type='email'] {
    padding: 10px;
    background-color: #dde1e7;
    border: none;
    outline: none;
    width: 90%;
}

select,
option {
    border: none;
}

select,
textarea::placeholder,
input::placeholder {
    color: #8d8d8d;
}

#contact-form textarea:focus,
#contact-form input[type='text']:focus,
#contact-form input[type='email']:focus {
    border: none;
}

#contact-form textarea,
#contact-form p {
    margin-top: 30px;
}

#contact-form textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 300px;
}

#contact-form .rgpd {
    text-align: justify;
}

#contact-form .rgpd label {
    clear: left;
}

/* radio button */
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.10em solid var(--main);
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"] {
    margin-right: 60px;
    border-radius: 5px;
    /* float: left; */
    display: inline-grid;
}

input[type="radio"] {
    border-radius: 50%;
    margin-right: 60px;
}

/* before = quand le bouton est coché */
input[type="checkbox"]::before,
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em var(--main);
}

input[type="radio"]::before {
    border-radius: 50%;
}

input[type="checkbox"]::before {
    border-radius: 2px;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
    transform: scale(1);
}

#send-btn {
    width: 60px;
    height: 60px;
    border-radius: 45px;
    position: fixed;
    right: 40px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send-btn img {
    width: 50%;
    height: 50%;
}

/* ***************************************** */
/* ---------------- PAGE 404 --------------- */
/* ***************************************** */
#error h1{
    margin-top: 40px;
    font-size: 4rem;
}

#error p{
    margin-top: 60px;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: var(--main);
    width: fit-content;
}

#error p, #error a{
    color: white;
}

/* *********************************************** */
/* ---------------- USER CONNEXION --------------- */
/* *********************************************** */
#user-connexion .unregistered {
    border-top: 1px solid var(--main);
    padding-top: 30px;
}

#user-connexion .unregistered p:last-child {
    margin-top: 30px;
}



/* ********************************************** */
/* ---------------- MEDIA QUERIES --------------- */
/* ********************************************** */


/* ********************/
/* ----- MEDIUM ----- */
/* ********************/
@media screen and (min-width:993px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .success,
    .error {
        width: fit-content;
    }

    #bandeau .logo {
        width: 100px;
        height: 100px;
        padding: 10px;
    }

    .flex-md {
        display: flex;
        flex-wrap: wrap;
    }

    .justify-between-md {
        justify-content: space-between;
    }

    /* ****************************************** */
    /* ---------------- ALL BOOKS --------------- */
    /* ****************************************** */
    #all-books #book-card {
        width: 250px;
    }

    #contact-form textarea {
        min-width: 96%;
        max-width: 96%;
        min-height: 440px;
    }

    #contact-form #contact-left {
        width: 35%;
    }

    #contact-form #contact-right {
        width: 60%;
    }

    /* ****************************************** */
    /* ---------------- ONE BOOK --------------- */
    /* ****************************************** */
    #one-book #info-book .cover{
        width: 300px;
        height: 430px;
    }

    #one-book #info-book .cover img {
        width: 100%;
        height: auto;
    }

    #one-book #info-book .cover,
    #one-book #info-book .book-identity{
        margin-right: 5px;
        margin-left: 5px;
    }


    #one-book #info-book .book-identity{
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* ************************** */
    /* ------ COMMENTS BOOK ----- */
    /* ************************** */
    #all-comments .user-info,
    #all-comments .comment {
        padding: 20px
    }

    #all-comments .user-info {
        width: 20%;
        height: auto;
        text-align: center;
    }

    #all-comments .user-info img {
        float: none;
        margin-bottom: 10px;
        padding: 0;
    }

    #all-comments .comment {
        width: 80%;
    }




}



/* *******************/
/* ----- LARGE ----- */
/* *******************/
@media screen and (min-width:1201px) {

    .flex-lg {
        display: flex;
        flex-wrap: wrap;
    }

    .justify-around-lg {
        justify-content: space-around;
    }

    .justify-between-lg {
        justify-content: space-between;
    }

    .justify-end-lg {
        justify-content: flex-end;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .success,
    .error {
        width: fit-content;
    }

    .mobile {
        display: none;
    }

    .lg {
        display: block;
    }

    /* ********************************/
    /* ----------- HEADER ----------- */
    /* ********************************/
    #bandeau h2 {
        margin-bottom: 20px;
    }
    
    #back-to-top {
        right: 50px;
        bottom: 70px;;
    }

    /* *****************/
    /* ----- NAV ----- */
    /* *****************/
    #nav-lg a {
        letter-spacing: 0.1rem;
    }

    #open-menu:hover,
    #close-menu:hover {
        cursor: default;
    }

    .head-lg {
        width: 85%;
    }

    .head-lg a {
        color: white;
    }

    .head-lg h2 {
        color: white;
        font-size: 85px;
    }

    .title-lg {
        width: 85%;
        align-self: flex-end;
    }

    /* *********************************/
    /* ----- NAV BOOK CATEGORIES ----- */
    /* *********************************/
    #bandeau #nav-lg .submenu{
        position: relative;
    }

    #bandeau #nav-lg .book-cat{
        padding: 20px;
        display: none;
        background-color: var(--main);
        position: absolute;
        left: -65%;
        box-shadow: 0 10px 15px grey;
        z-index: 999;
    }

    #bandeau #nav-lg .submenu:hover > .book-cat{
        display: block;
    }

    #bandeau #nav-lg .book-cat li{
        padding: 8px 0;
    }

    #send-btn {
        display: none;
    }

    #one-book #info-book .cover,
    #one-book #info-book .book-identity{
        margin-right: 20px;
        margin-left: 20px;
    }

    /* ***************************************** */
    /* ---------------- COMMENTS --------------- */
    /* ***************************************** */

    /* ************************** */
    /* ------ COMMENTS FORM ----- */
    /* ************************** */

    #comments form {
        width: 60%;
    }

    #comments input,
    #comments textarea {
        min-width: 100%;
        max-width: 100%;
    }

    #comments form {
        margin: 0 auto;
    }



}