/*

reset
SET-UP
HEADER
    * nav - animation
    * nav - content
DASHBOARD
    * forms
    * btn icon top
    * modal box
DASHBOARD - LIVRES
    * livres - nav
    * livres - view
    * livres - forms
    * livres - all + slider
    * livres - genre
    * livres - slider
DASHBOARD - ACCOUNT
DASHBOARD - PARAMETERS

MEDIA QUERIES
    * SMALL : min-width: 769px
    * MEDIUM : min-width: 993px
    * LARGE : min-width: 1201px
    * EXTRA-LARGE : min-width: 1440px

*/


/* *******************/
/* ----- RESET ----- */
/* *******************/
:root{
    /* --dashboard: #b2c9fe ; */
    --dashboard: #265ddf ;
    --anthracite: rgb(44, 41, 41);
}

*{
    padding:0;
    margin:0;
    color:var(--anthracite);
    font-family: 'Times New Roman', Times, serif;
}

main{
    width: 100%;
}

p, a, textarea{
    font-size: 22px;
}

@font-face {
    font-family: 'uppereastsideregular';
    src: url('../../Front/fonts/UpperEastSide-webfont.eot');
    src: url('../../Front/fonts/UpperEastSide-webfont.woff2') format('woff2'),
         url('../../Front/fonts/UpperEastSide-webfont.woff') format('woff'),
         url('../../Front/fonts/UpperEastSide-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* ********************/
/* ----- SET-UP ----- */
/* ********************/
h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: var(--dashboard);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--rouge);
}

ul{
    list-style-type: none;
}

.center{
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-direction: column;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.stretched-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.display-none{
    display: none;
}

.lg{
    display: none;
}

.required{
    color: red;
}

.success{
    background-color: rgb(9, 184, 85);
}

.error{
    background-color: var(--rouge);
}

.success, 
.error{
    border-radius: 10px;
}

.success p, 
.error p{
    color: white;
    padding: 15px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.success i, 
.error i{
    color: white;
    margin-right: 15px;
}
/* *************************************** */
/* ---------------- HEADER --------------- */
/* *************************************** */
#bandeau-admin{
    background-color: var(--dashboard);
    padding: 20px 0;
}

#bandeau-admin h2,
#bandeau-admin h3{
    color: white;
    font-weight: normal;
    margin-left: 40px;
}

#bandeau-admin h2{
    font-size: 2.5rem;
    letter-spacing: .1rem;
    font-family:'uppereastsideregular', 'Times New Roman', Times, serif;
}

/* ICI */
.btn {
    background-color: white;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    display: block;
}

/* ****************************/
/* ----- NAV - ANIMATION----- */
/* ****************************/

#open-menu{
position: absolute;
top: 25px;
left: 25px;
font-size: 1.4rem;
z-index: 9999999;
}

#open-menu.hidden{
    visibility: hidden;
}

#open-menu i{
    color: white;
    text-shadow: 0px 0px 3px var(--anthracite);
}

#nav-admin{
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background-color: white;
    transition: left 1s;
    z-index: 99999999;
}

/* menu mobile qui s'affiche par-dessus l'écran */
#nav-admin.overlay{
    left: 0;
    transition: left 0.5s;
}

#blur{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
}

/* ***************************/
/* ----- NAV - CONTENT ----- */
/* ***************************/
#nav-profile{
    background-color: var(--dashboard);
    padding: 10px 0 10px 10px;
    height: 100px;
}

#nav-profile img{
    border: 4px solid white;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

#nav-profile p{
    color: white;
    line-height: 78px;
}

#nav-admin h3{
    color: var(--dashboard);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 18px 0 3px 0;
    margin-left: 0;
}

#nav-admin ul{
    padding-left: 30px;
}

#nav-admin li{
    margin-top: 10px;
}

#nav-admin i.fa-arrow-left{
    transform: rotate(45deg);
}

#nav-admin i{
    margin-right: 10px;
}

#nav-admin .disconnect,
#nav-admin .disconnect i{
    color: red;
    font-weight: bold;
}

#nav-admin a:hover,
#nav-admin .active{
    font-weight: bold;
}

/* ******************************************** */
/* ---------------- FOOTER -------------------- */
/* ******************************************** */
#foot-admin{
    margin-top: 80px;
}


/* *********************************************** */
/* ---------------- DASHBOARD -------------------- */
/* *********************************************** */


/* ******************** */
/* ------- FORMS------- */
/* ******************** */
.one-cat input, 
#parameters input, 
#account input, 
#book-form input, 
#book-form option, 
#book-form select{
    padding: 8px 10px;
    font-size: 18px;
}

.one-cat input, 
#parameters input, 
#account input, 
#book-form input, 
#book-form select, 
#book-form textarea {
    margin-top: 8px;
    margin-bottom: 22px;
    border: 1px solid var(--dashboard);
}

.one-cat input, 
#parameters input, 
#account input:focus, 
#book-form input:focus, 
#book-form select:focus, 
#book-form textarea:focus{
    outline: none;
    box-shadow: inset 0 0 0.25rem var(--dashboard);}

input[type='submit'], 
a.btn,
button.btn{
    margin-top: 20px;
    color: white;
    font-size: 1.3rem;
    background-color: var(--dashboard);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

input[type='submit']:hover,
a.btn:hover{
    box-shadow: 0 0 6px rgb(92, 91, 91);
    font-size: 1.3rem;
}

.one-cat input[type='file'],
#book-form input[type='file']{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    opacity: 0;
}

.custom-file-upload-cat,
.custom-file-upload{
    position: relative;
    height: 100px;
    width: 100px;
}
.custom-file-upload-cat{
    width: 220px;
}

.custom-file-upload-cat img:first-of-type{
    margin-right: 15px;
}

.one-cat input[type='file']{
    top: 0;
}

.custom-file-upload{
    display: block;
}

.custom-file-upload-cat img,
.custom-file-upload img{
    height: 100px;
    width: 100px;
}

.custom-file-upload input:hover{
    cursor: pointer;
}

.ajout .add-picture{
    font-size: 5rem;
}


/* ******************** */
/* --- BTN ICON TOP --- */
/* ******************** */
.retour,
.delete{
    position: sticky;
    top: 20px;
    padding-top: 10px;
    margin-bottom: -40px;
}

.retour{
    margin-left: 15px;
}

.retour i{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dashboard);
    background-color: white;
    box-shadow: inset 0 0 0 2px var(--dashboard);
    border-radius: 20px;
}

.delete .fa-trash-can{
    font-size: 0.8em;
    color: white;
}

.delete .fa-stack{
    line-height: 1.5em;
    position: absolute;
    right: 16px;
}

.delete .fa-circle{
    font-size: 1.5em;
    color: red;
}

/* ********************* */
/* ----- MODAL BOX ----- */
/* ********************* */
.modal{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    z-index: 99999999;
}

.modal .modal-content{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.modal .modal-content p{
    line-height: 2rem;
}

.modal .modal-content p.bold{
    margin-bottom: 20px;
    color: red;
    font-size: 1.8rem;
}

.modal .modal-content .close{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

.modal .modal-content .close{
    cursor: pointer;
    float: right;
}

.modal .modal-content i{
    color: red;
    font-size: 3rem;
    margin-bottom: 20px;
}

.modal .modal-content a{
    width: 100px;
}

.modal .modal-content a[title="Retour"]{
    background-color: rgba(151, 151, 151, 0.902);
}

/* ******************************************** */
/* ---------- DASHBOARD - LIVRES -------------- */
/* ******************************************** */
/* Fixed button to add / modify a book */
.thumb-btn{
    width: 60px;
    height: 60px;
    border-radius: 45px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-btn img{
    width: 50%;
    height: 50%;
}

.add-btn{
    background-color: green;
}

.modify-btn{
    background-color: orange;
}

/* **************************** */
/* ------- LIVRES - NAV ------- */
/* **************************** */
#nav-books li{
    width: 33.33%;
    font-size: 1.3rem;
    border-bottom: 3px solid rgba(204, 203, 203, 0.856);
    padding: 10px  0;
    cursor: pointer;
}

#nav-books li:hover{
    border-bottom: 3px solid rgba(139, 139, 139, 0.856);
}

#nav-books li.active{
    border-bottom: 3px solid var(--dashboard);
}

#nav-books i{
    display: block;
}

/* ************************************** */
/* ------- LIVRE + MESSAGE - VIEW ------- */
/* ************************************** */
#one-message,
#one-book{
    margin-top: 30px;
}

#one-message h2,
#one-book h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#one-book .catchphrase{
    font-style: italic;
    margin: 20px 0;
}

#one-book #book-cover{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#one-message p{
    margin-bottom: 15px;
}

#one-message .msg-content{
    margin-top: 30px;
}

/* **************************** */
/* ------ LIVRES - FORMS ------ */
/* **************************** */
.zones-text{
    width: 100%;
}

textarea.catchphrase{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

textarea.content{
    min-width: 100%;
    max-width: 100%;
    min-height: 600px;
}

img.old-picture{
    width: 200px;
}

#preview{
    width: 250px;
    height: auto;
    object-fit: cover;
}

#preview{
    width: 100px;  
    margin-bottom: 20px;
}

#book-form #count{
    font-size: 1rem;
    margin-bottom: 22px;
    margin-top: -22px;
    text-align: right;
    padding-right: 10px;
}

/* ********************************************* */
/* ---- LIVRES - ALL + SLIDER + ALL MESSAGE ---- */
/* ********************************************* */
#book-cat article,
#book-slider article,
#all-messages article,
#all-books article{
    border-bottom: 1px solid rgba(204, 203, 203, 0.856);
    position: relative;
}

#book-slider img,
#all-books img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

#book-cat .cat-img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    position: relative;
}

#book-cat .cat-img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#book-cat .list-title,
#book-slider .list-title,
#all-books .list-title{
    font-weight: bold;
}

#book-cat .list-title,
#book-slider .list-title{
    line-height: 100px;
}

#all-books .list-location,
#all-books .list-date{
    font-size: 1.2rem;
}

#all-messages button,
#book-cat button,
#all-books button{
    border: none;
    background: none;
    cursor: pointer;
}

#one-message h1,
#all-messages h1{
    margin-top: 20px;
}

#all-messages .message-info{
    width: 80%;
    height: 50px;
}

#all-messages .message-info .object{
    width: 190px;
}

/* ******************************* */
/* ------- LIVRES - GENRES ------- */
/* ******************************* */
#book-cat i{
    color: var(--dashboard);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#book-cat h2{
    margin-bottom: 15px;
}

#book-cat a:hover{
    text-shadow: 2px 2px 4px grey;
}

#book-cat .cat-link{
    align-self: center;
    margin-left: auto;
    margin-right: 60px;
}

#book-cat .one-cat p{
    margin-top: auto;
    margin-bottom: auto;
}

#book-cat .one-cat input[type='text']{
    margin-left: 17px;
}

#book-cat .one-cat .cat-submit{
    margin-left: auto;
    margin-right: 65px;
}
/* ******************************* */
/* ------- LIVRES - SLIDER ------- */
/* ******************************* */
/* switch = box around the button slide */
.switch{
    margin-right: 15px;
    width: 60px;
    height: 30px;
    position: relative;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(199, 199, 199);
}

/* hide checkbox */
.switch input[type='checkbox']{
    position: absolute;
    top: 0;
    left: -2px;
    opacity: 0;
    width: 62px;
    height: 30px;
    z-index: 999;
}

/* the button */
.switch .slide{
    position: absolute;
    top: 1px;
    left: 1px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50px;
    transition: left 0.4s;
}

/* the button when checked*/
.switch input[type='checkbox']:checked + .slide{
    background-color: var(--dashboard);
    left: 30px;
    transition: left 0.4s;
}

/* ******************************************** */
/* ---------- DASHBOARD - ACCOUNT-------------- */
/* ******************************************** */
#account img{
    width: 200px;
    height: auto;
}

#account img,
#account p{
    margin-bottom: 20px;
}

#account input[type="password"],
#account input[type="text"],
#parameters input[type="text"]{
    margin-top: -15px;
    font-weight: bold;
}

#account input[type="submit"]{
    margin-top: 30px
}

/* ******************************************** */
/* ---------- DASHBOARD - PARAMETERS ---------- */
/* ******************************************** */
#parameters p{
    margin-bottom: 20px;
}

#parameters img{
    width: 200px;
    height: auto;
    border: 5px solid var(--dashboard);
    border-radius: 100px;
    margin-bottom: 40px;
}

#parameters .btn{
    width: 200px;
}


/* ********************************************** */
/* ---------------- MEDIA QUERIES --------------- */
/* ********************************************** */


/* *******************/
/* ----- SMALL ----- */
/* *******************/
@media screen and (min-width:769px){
}


/* ********************/
/* ----- MEDIUM ----- */
/* ********************/
@media screen and (min-width:993px){
    .container{
        max-width: 80%;
        margin: 0 auto;
    }
    
    .flex-md{
        display: flex;
    }

    .retour,
    .delete{
    margin-bottom: -40px;
    cursor: pointer;
    }
    
    .thumb-btn{
        right: 110px;
        bottom: 70px;
    }

    .success, 
    .error{
        width: fit-content;
    }

    /* *********************/
    /* ----- ACCOUNT ----- */
    /* *********************/
    #account img{
        width: 300px;
        margin: 0 0;
    }
    
    #account #admin-info{
        align-self: center;
        margin-left: 50px;
    }
    
    #account input[type="text"]{
        width: 300px;
    }
    
    #account a.btn{
        width: 240px;
        display: block;
        margin-top: 40px;
    }
    
    /* **********************/
    /* ---- PARAMETERS ---- */
    /* **********************/
    #parameters .btn:first-of-type{
        margin-right: 150px;
    }

}
  

/* *******************/
/* ----- LARGE ----- */
/* *******************/
@media screen and (min-width:1201px){
    .container{
        min-width: 1200px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .mobile{
        display: none;
    }

    .lg{
        display: block;
    }

    .flex-lg{
        display: flex;
    }

    .btn{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .zones-text{
        width: 65%;
    }
    
    .success, 
    .error{
        width: fit-content;
    }

    /* *******************/
    /* ----- ADMIN ----- */
    /* *******************/
    main{
        width: 900px;
    }
 
    #bandeau-admin{
        position: sticky;
        width: 100%;
    }

    #nav-admin{
        position: sticky;
        left:0;
        width: 300px;
        height: 100%;
    }
    
    .stretched-link{
        position: relative;
        opacity: 1;
    }

    #dashboard,
    #one-message,
    #one-book,
    #book-form,
    #message,
    #comment,
    #account,
    #parameters{
        margin-left: 20px;
        margin-top: 20px;
    }

    /* **************************************/
    /* ----- ALL BOOKS + ALL MESSAGES ----- */
    /* **************************************/
    #all-messages i,
    #all-books i{
        color: var(--dashboard);
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #all-messages a:hover,
    #all-books a:hover{
        text-shadow: 2px 2px 4px grey;
    }

    #all-messages .message-link{
        align-self: center;
        margin-left: auto;
        margin-right: 15px;
    }
    
    #all-books .book-link{
        align-self: center;
        margin-left: auto;
        margin-right: 60px;
    }

    #one-message,
    #one-book{
        position: relative;
        margin-top: 30px;
    }

    .thumb-btn{
        right: 20px;
        bottom: 70px;
    }


}


/* *************************/
/* ----- EXTRA-LARGE ----- */
/* *************************/
@media screen and (min-width:1440px){
    .thumb-btn{
        right: auto;
        left: auto;
        bottom: 100px;
        margin-left: 30px;
    }

}